:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-color: #ffffff;
  --secondary-color: #f5f4fa;
  --background-color: #2f303a;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background-color: var(--primary-color);
  color: var(--title-text-color);
}

.list {
  list-style-type: none;
}

.link-decor {
  text-decoration: none;
}

/*header */
.header {
  font-weight: 500;
  line-height: 1.14;
}

.logo-web {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.logo-studio {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
}

.logo-studio-white {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--primary-color);
}

/*nav bar*/

.site-nav-link {
  color: var(--title-text-color);
}

.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
}

.site-nav-link-current {
  color: var(--accent-color);
}
/*contacts*/
.contacts-link {
  color: var(--primary-text-color);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

/*hero*/
.hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--primary-color);
  background-color: var(--background-color);
}

.hero-btn {
  font-family: Roboto, sans-serif;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-color);
  cursor: pointer;
  }

/*мы лучшие*/
.subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.subtitle-text {
  line-height: 1.71;
  color: var(--primary-text-color);
}

.subtitle-big {
  font-size: 36px;
  line-height: 1.16;
}

/*team*/
.team {
  background-color: var(--secondary-color);
   font-size: 16px;
  line-height: 1.18;
}
.team-title {
  font-weight: 500; 
  font-size: 16px;
  line-height: 1.18; 
}
.team-text {
  color: var(--primary-text-color);
}

/*footer*/
.footer {
  background-color: var(--background-color);
}
.address {
  font-style: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.address-white {
  font-style: normal;
  line-height: 1.71;
  color: var(--primary-color);
  
}
/*portfolio*/

.portfolio-btn {
  font-family: Roboto, sans-serif;
  background-color: var(--secondary-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--title-text-color);
  cursor: pointer;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--primary-color);
  background-color: var(--accent-color);
}

.subtitle-portfolio {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.subtitle-portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}
